<!--TODO: fix interface-->

<div class="add-book">
  <div class="img">
    <img *ngIf="savingBookFile" src="{{env.apiBaseUrl + 'img/' + savingBookFile.name}}">
  </div>
  <form class="form"
        [formGroup]="addBookForm"
        (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Название книги</mat-label>
      <input matInput type="text"
             formControlName="title"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Описание</mat-label>
      <textarea matInput type="text"
             formControlName="description"
      ></textarea>
    </mat-form-field>
    <input type="file" multiple (change)="setPhoto($event)">
    <button [disabled]="addBookForm.status === 'INVALID'"
            mat-flat-button color="primary" type="submit"
    >Сохранить</button>
  </form>
</div>
