.container{
    max-width: $container;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.cm-input{
    max-width: 500px;
    width: 100%;

    padding: 10px 25px;
    border-radius: 10px;
    border-color: $edition_2;
}
.cm-btn{
    max-width: 500px;
    width: 100%;

    padding: 10px 25px;
    border-radius: 10px;
    color: $white;
    background-color: $edition_2;
    border: none;
}