@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

.cm-font_500_36{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
}

.cm-font_200_24{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}