$container:  1400px;
$header-footer_heigth: 100px;

// COLOR=========================
$white: white;
$header-footer_color: rgb(127, 157, 255);
$input_color: rgb(79, 70, 100);
$btn_color: rgb(79, 70, 100);