$container:  1400px;
$header-footer_heigth: 100px;

// COLOR=========================
$white: white;
$errors: rgb(240, 179, 179);
$edition_1: rgb(210, 208, 216);
$edition_2: rgb(79, 70, 100);

$border-radius_1: 10px;