//COLOR=========================
  $main_color: #3f51b5;
  $suppl_color: rgba(63, 81, 181, 0.13);
  $white_color: #ffffff;
  $grey_light_color: #e1e1e1;
//COLOR=========================

.container{
  //max-width: 1400px;
  //margin: auto;
  padding: 20px;
}
