@import "../../../../../assets/scss/index.scss";

.book-item {
  width: 250px;
  height: 320px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $grey_light_color;

  &-img {
    height: 250px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #3f51b5;
    overflow: hidden;

    img {
      min-height: 100%;
      max-width: 100%;
    }
  }
  &-txt {
    display: flex;
    justify-content: space-between;
  }
}
