<h1 class="cm-font_500_34 title">Personal information</h1>

<div class="personal">

  <h3>Profile data</h3>
  <div class="">firstname - <span>{{StorageService.USER?.firstname}}</span></div>
  <div class="">lastname - <span>{{StorageService.USER?.lastname}}</span></div>
  <div class="">username - <span>{{StorageService.USER?.username}}</span></div>

  <h3>Contact data</h3>
  <div class="" *ngFor="let i of StorageService.USER?.userContact">
    {{i.type}} - {{i.contact}}
  </div>


  <h3>Change data</h3>
  <input
    type="text"
    placeholder="new e-mail"
    [(ngModel)]="newMail"
  >
  <button (click)="onClickChangeMAil()">Change e-mail</button>


  <h3>Change password</h3>
  <input
    type="text"
    placeholder="new password"
    [(ngModel)]="passwordNew"
  >
  <input
    type="text"
    placeholder="old password"
    [(ngModel)]="passwordOld"
  >
  <button (click)="onClickChangePassword()">Change password</button>

</div>
