@import "../../../../assets/scss/index.scss";

.books {

  &-body {
    height: calc(100vh - 120px);
    overflow-y: scroll;

    &-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, 260px);
      grid-gap: 2rem;
      justify-content: space-between;

      &-item {
        margin-bottom: 30px;
      }
    }
  }

}
