<div class="books">

  <div class="books-body container">

    <div class="books-body-heading">
      <h1>Книги</h1>
      <div class="books-body-filter">
        <el-materials-actions (sortChangedEmit)="sortChanged($event)"
                          (refreshQueryParamsEmit)="refreshQueryParams()"
        ></el-materials-actions>
      </div>
    </div>

    <div class="books-body-content">
      <div class="books-body-content-item" *ngFor="let book of dataList$ | async">
        <el-material-block [page]="'books'" [material]="book"></el-material-block>
      </div>
    </div>

  </div>

<!--  TODO russian translate paginator-->
  <div class="books-paginator">
    <mat-paginator showFirstLastButtons
                   (page)="pageChanged($event)"
                   aria-label="Select page"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   [pageIndex]="queryParams.page"
                   [pageSize]="queryParams.size"
                   [length]="queryParams.totalElements"
    ></mat-paginator>
  </div>

</div>
