<div class="authors">

  <div class="authors-body container">

    <div class="authors-body-heading">
      <h1>Авторы</h1>
      <div class="authors-body-filter">
        <el-authors-actions (sortChangedEmit)="sortChanged($event)"
                            (refreshQueryParamsEmit)="refreshQueryParams()"
        ></el-authors-actions>
      </div>
    </div>

    <div class="authors-body-content">
      <div class="authors-body-content-item" *ngFor="let author of dataList$ | async">
        <app-author-item [author]="author"></app-author-item>
      </div>
    </div>

  </div>

  <!--  TODO russian translate paginator-->
  <div class="authors-paginator">
    <mat-paginator showFirstLastButtons
                   (page)="pageChanged($event)"
                   aria-label="Select page"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   [pageIndex]="queryParams.page"
                   [pageSize]="queryParams.size"
                   [length]="queryParams.totalElements"
    ></mat-paginator>
  </div>

</div>
