<div class="authors">

  <div class="authors-body container">

    <div class="authors-body-filter">
      <h1>Авторы</h1>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="queryParams.sort" (selectionChange)="sortChanged()">
          <mat-option value="name">Название</mat-option>
          <mat-option value="description">Описание</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="books-body-filter" (click)="refreshQueryParams()">
        <mat-icon
          matTooltip="Info about the action"
          [matTooltipPosition]="'above'"
          class="icon">refresh
        </mat-icon>
      </span>
    </div>

    <div class="authors-body-content">
      <div class="authors-body-content-item" *ngFor="let author of dataList$ | async">
        <app-author-item [author]="author" [routerLink]="['/authors', author.id]"></app-author-item>
      </div>
    </div>

  </div>

  <!--  TODO russian translate paginator-->
  <div class="authors-paginator">
    <mat-paginator showFirstLastButtons
                   (page)="pageChanged($event)"
                   aria-label="Select page"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   [pageIndex]="queryParams.page"
                   [pageSize]="queryParams.size"
                   [length]="queryParams.totalElements"
    ></mat-paginator>
  </div>

</div>
