@import '../../../assets/scss/index.scss';

.errors{
    display: flex;
    flex-direction: column;
    align-items: center;

    &_item{
        width: 500px;
        margin-top: 7px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $errors;
    }
}