<div class="menu">

    <a class="menu_item cm-font_500_16"
       [routerLink]="['/admin/panel', 'info']"
    >Personal</a>

    <a class="menu_item cm-font_500_16"
       [routerLink]="['/admin/panel', 'setup']"
    >Edit Profile</a>

    <a class="menu_item cm-font_500_16"
       [routerLink]="['/admin/panel', 'info']"
    >Info</a>

    <a class="menu_item cm-font_500_16"
       [routerLink]="['/admin/panel', 'info']"
    >Info</a>

    <a class="menu_item cm-font_500_16"
       [routerLink]="['/admin/panel', 'info']"
    >Info</a>

</div>
