<div class="book-item-page container">

  <div class="img">
    <mat-icon class="img-mat-icon" *ngIf="!actualBook?.image?.name">photo_library</mat-icon>
    <img *ngIf="actualBook?.image?.name"
         src="{{env.apiBaseUrl + 'img/' + actualBook?.image?.name}}">

    <div class="rate">
      <div class="rate-like">
        <mat-icon [ngClass]="{'rate-mat-icon': true, 'like': actualBook?.userRating === 1}"
                  (click)="onReaction('like')"
        >thumb_up</mat-icon><span>{{actualBook?.likes}}</span>
      </div>
      <div class="rate-dislike">
        <mat-icon [ngClass]="{'rate-mat-icon': true, 'dislike': actualBook?.userRating === -1}"
                  (click)="onReaction('dislike')"
        >thumb_down</mat-icon><span>{{actualBook?.dislikes}}</span>
      </div>
    </div>

  </div>

  <div class="book-item-page-content">
    <h1 class="book-item-page-content-title">
      {{actualBook?.title}}
    </h1>
    <p class="book-item-page-content-desc">
      <span>Описание: </span>{{actualBook?.description}}
    </p>
    <p class="book-item-page-content-duration">
      <span>Продолжительность чтения: </span>{{actualBook?.duration}}<span> ч.</span>
    </p>
    <p class="book-item-page-content-authors">
      <span>Авторы: </span>
      <ng-container *ngFor="let author of actualBook?.authors">{{author.name}}</ng-container>
    </p>
  </div>

</div>
