<div class="public-info container">

  <div class="public-info-description">
    Наш портал предлагает все, что нужно и даже больше!
    Здесь вы найдете разделы, где все темы разбиты по категориям, а все материалы - легко и удобно в использовании.
    Не тратьте время на поиск информации в разных источниках - наш портал собрал всё лучшее для вас!
  </div>

  <div class="public-info-content">
    <div class="public-info-content-item">
      <div class="public-info-content-item__img" [routerLink]="['/books']">
        <mat-icon class="icon">library_books</mat-icon><h1>Книги</h1>
      </div>
      <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
    </div>
    <div class="public-info-content-item">
      <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
      <div class="public-info-content-item__img" [routerLink]="['/courses']">
        <mat-icon class="icon">video_library</mat-icon><h1>Курсы</h1>
      </div>
    </div>
    <div class="public-info-content-item">
      <div class="public-info-content-item__img" [routerLink]="['/authors']">
        <mat-icon class="icon">record_voice_over</mat-icon><h1>Авторы</h1>
      </div>
      <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
    </div>
  </div>
  <div class="public-info-content-item">
    <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
    <div class="public-info-content-item__img" [routerLink]="['/courses']">
      <mat-icon class="icon">library_books</mat-icon><h1>Что-то еще</h1>
    </div>
  </div>

</div>
