<div class="main">

  <div class="version-1" *ngIf="typePreloader === PreloaderTypesEnum.variant_1">
    <div class="heading"></div>
    <div class="items">
      <div class="item" *ngFor="let item of quantityVersion_1">
        <div class="header"></div>
        <div class="footer"></div>
      </div>
    </div>
  </div>

  <div class="version-2" *ngIf="typePreloader === PreloaderTypesEnum.variant_2">
    <div class="img"></div>
    <div class="txt">
      <div class="txt-heading"></div>
      <div class="txt-description"></div>
      <div class="txt-description"></div>
      <div class="txt-description"></div>
      <div class="txt-description"></div>
    </div>
  </div>

</div>
