@import "../../../../../assets/scss/index.scss";

.author-item {
  width: 250px;
  height: 320px;
  padding: 10px;
  overflow: hidden;

  &-img {
    height: 250px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: #3f51b5;
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
    }
  }
  &-txt {
    display: flex;
    justify-content: space-between;
    background-color: $grey_light_color;
    transform: translateY(-60px);
    padding: 15px;
    border-radius: 15px;
  }
}
