<div class="public-info container">

  <div class="public-info-description">
    Какой-то привлекательный блок с описанием всей штуки которая происходит на портале,
    возможно какие-то рекомендации для всех, ка роче надо придумать
  </div>

  <div class="public-info-content">
    <div class="public-info-content-item">
      <div class="public-info-content-item__img" [routerLink]="['/books']">
        <mat-icon class="icon">library_books</mat-icon><h1>Книги</h1>
      </div>
      <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
    </div>
    <div class="public-info-content-item">
      <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
      <div class="public-info-content-item__img" [routerLink]="['/courses']">
        <mat-icon class="icon">video_library</mat-icon><h1>Курсы</h1>
      </div>
    </div>
    <div class="public-info-content-item">
      <div class="public-info-content-item__img" [routerLink]="['/courses']">
        <mat-icon class="icon">view_list</mat-icon><h1>Что-то еще</h1>
      </div>
      <div class="public-info-content-item__txt">Не уверен что тут впринципе нужен это теткст с описанием</div>
    </div>
  </div>

</div>
