<p>authentication works!</p>


<div class="change-form">
    <div class="change-form_item" (click)="clickLogin()">login</div>
    <div class="change-form_item" (click)="clickRegistration()">registration</div>
</div>


<div *ngIf="openForm === 'registration'">
    <form class="form-reg" [formGroup]="registrationForm" (ngSubmit)="onSubmitRegist()">
        <input type="text" 
            formControlName="username" 
            class="cm-input form-reg_item" 
            id="username"
            placeholder="Username"
        />
        <input type="text" 
            formControlName="password" 
            class="cm-input form-reg_item"  
            id="password"
            placeholder="Password"
        />
        <input type="text" 
            formControlName="firstname" 
            class="cm-input form-reg_item"  
            id="firstname"
            placeholder="First Name"
        />
        <input type="text" 
            formControlName="lastname" 
            class="cm-input form-reg_item"  
            id="lastname"
            placeholder="Last Name"
        />
        <input type="text" 
            formControlName="email" 
            class="cm-input form-reg_item"  
            id="email"
            placeholder="Email"
        />
        <button type="submit" class="cm-btn">Registration</button>
    </form>
</div>

<div *ngIf="openForm === 'login'">
    <form class="form-reg" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <input type="text" 
            formControlName="username" 
            class="cm-input form-reg_item" 
            id="username"
            placeholder="Username"
        />
        <input type="text" 
            formControlName="password" 
            class="cm-input form-reg_item"  
            id="password"
            placeholder="Password"
        />
        <button type="submit" class="cm-btn">Login</button>
    </form>
</div>

