@import "src/assets/scss/index";

.course-item-page {
  display: flex;

  .img {
    width: 300px;
    min-width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: $grey_medium_color;
    margin-right: 20px;

    &-mat-icon {
      transform: scale(5) translateY(35px) translateX(27px);
      color: rgba(0,0,0,.2);
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
}
