@import '../../../assets/scss/index.scss';

.footer{
    height: $header-footer_heigth;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    div{
        color: $btn_color;
    }
}