<div class="add-materials">


  <div class="add-materials-item">
    <h2>Добавить книгу</h2>
    <app-personal-add-books (bookDataEmit)="bookOrCourseEmit($event)"
                            (bookFile)="fileEmit($event)"
                            [savingBookFile]="savingBookFile"
    ></app-personal-add-books>
  </div>


  <div class="add-materials-item">
    <h2>Добавить курс</h2>
    <app-personal-add-courses (courseDataEmit)="bookOrCourseEmit($event)"
                              (courseFile)="fileEmit($event)"
                              [savingCourseFile]="savingCourseFile"
    ></app-personal-add-courses>
  </div>


  <div class="add-materials-item">
    <h2>Добавить автора</h2>
    <app-personal-add-authors (authorDataEmit)="authorEmit($event)"
                              (authorFile)="fileEmit($event)"
                              [savingAuthorFile]="savingAuthorFile"
    ></app-personal-add-authors>
  </div>


</div>
