@import '../../../assets/scss/index.scss';

.header{
    height: $header-footer_heigth;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    a{
        text-decoration: none;
        color: $btn_color;
    }

    &_logo{}

    &_menu{
        display: flex;
        a{
            margin-left: 20px;
        }
    }
}