@import "../../../../../assets/scss/index.scss";

.add-author {
  display: flex;
  margin-top: 20px;

  .img {
    width: 250px;
    height: 300px;
    margin-right: 20px;
    background-color: rgba(0,0,0,.12);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    &-mat-icon {
      transform: scale(4) translateY(30px) translateX(21px);
      color: rgba(0,0,0,.2);
    }

    img {
      min-height: 100%;
      max-width: 100%;
    }
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    textarea {
      height: 100px;
    }

    button {
      width: 250px;
    }
  }
}
